.App {
  text-align: center;
}

.smurfDiv {  
  text-align: center;
  /* display: flex;    */
}

.surroundingSmurfDiv {
  width: 200px; 
    
  
}

.allSmurfs {
  margin: 0 auto;  
  display: flex;
  /* flex-flow: wrap; */
}
